<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::main})">

<head>
    <title>Data Migration Portal</title>

</head>


<body>

    <main id="main" >
        <section class="form1 container-md">
            <div>

                <h3>Global Lookup</h3>

                <form id="form" method="post" th:action=@{/api} th:object="${data}" onsubmit="return validateForm(this)" class="form-control">
                   
                    <table>
                        <div class="form-group" th:each=" map : ${data}">
                            <tr>
                                <td><label id="key" th:name="${map.key}" th:text="${map.key}"></label></td>
                                <td><input id="value" th:name="${map.key}" type="text" th:value="${map.value}"
                                        class="form-control"></td>
                            </tr>
                        </div>
                        <tr><td colspan="2"><p id="setPrimary" th:text="${globalmessage}" th:if="${globalmessage ne null}" class=""></p></td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <input type="submit" value="SUBMIT" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </section>
        <section class="form2 container-md">
            <div>
                <h3>Fill Entity Lookup Field Values</h3>
                <form th:action="@{/api/add}"  th:object="${entities}" th:method="post">
                <table>
                    <tr>
                        <td><label for="Entity Name">Entity Name</label></td>
                        <td>
                            <select id="entitylist">
                                <option selected>Select Entity</option>
                                <option th:each="option : ${entities}"  th:value="${option.Name}" th:text="${option.Name}" th:name="${option.Name}">
                                </option>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
            </div>
        </section>
        <section class="form3 container-md">
            <div>
                <h3>Primary Lookup File</h3>

                <form id="formread" th:action="@{/api/write}" th:object="${csvfile}" th:method="post">
                    <p id="setPrimary" th:text="${Updatemessage}" th:if="${Updatemessage ne null}" class=""></p>
                    <table>
                        <div class="form-group" th:each=" map : ${csvfile}">
                            <tr>
                                <td><label id="key" th:name="${map.key}" th:text="${map.key}"></label></td>
                                <td><input id="value" th:name="${map.key}" type="text" th:value="${map.value}"
                                        class="form-control"></td>
                            </tr>
                        </div>
                    </table>
                    <div class="form-group">
                        <input type="submit" value="SUBMIT" class="btn btn-success" />
                    </div>
                </form>
                </div>
        </section>

        <section class="form4 container-md">

            <h3>Secondary Lookup File (Optional)</h3>

            <form id="formreads" th:action="@{/api/writeS}" method="post" th:object="${csvfiles}" th:each="entry: ${csvfiles}">
                <table>
                    <tr>
                        
                            <th>Lookup Field</th>
                            <th>Lookup Values</th>
                            <th ><input type="hidden" th:name="${entry.key}"></th>
                        </tr>

                    <div class="form-group" th:each=" map : ${entry.value}">
                        
                        <tr>
                            <td ><input id="key" type="text" th:value="${map.key}"></label></td>
                            <td><input id="value" th:name="${map.key}" type="text" th:value="${map.value}"
                                    class="form-control"></td>
                                    <td><input id="buttonRemove"type="button" value="X"></td>
                        </tr>
                        
                    </div>
                    
                <tr>
                    
                    <td>
                    <button id="buttonAdd">+</button>
                </td>
                </tr>
                </table>
                <div class="form-group">
                    <input type="submit" value="SUBMIT" class="btn btn-success" />
                </div>
            </form>
            <!-- <table class="message">
                <tr>
                    <td>Lookup values updated successfully</td>
                </tr>
                </div>

            </table> -->
        </section>
        <section class="form5 container-md">
            <div>
                <h3>Download Entity Lookup Sample File</h3>

                <div th:if="${ not#lists.isEmpty(entities)}">
                    <table>
                        <tr>
                            <td>Entity Name</td>
                            <td>
                                <select id="entity">
                                    <option selected>Select Entity</option>
                                    <option th:each=" data: ${entities}" th:value="${data.Name}" th:text="${data.Name}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <table>
                </div>
                <!-- <td> -->
                <!-- <a th:href="@{http://localhost:9083/api/download/Global_Lookup"> -->
                <!-- <a href="http://localhost:9083/api/download/Global_Lookup"> -->
                <a id="download">
                    <button type="button" class="btn btn-success">DOWNLOAD</button>
                </a>
                <!-- <button type="button">CLICK TO DOWNLOAD FILE</button> -->
            </div>
        </section>
      
    </main>

</body>

</html>