<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Data Migration Portal</title>
    <link rel="stylesheet" href="" th:href="@{/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/listcsv.js}"></script>
</head>


<body>
    <div class="background">
        <section class="nav">

            <img src="" th:src="@{images/logo1.png}" alt="">
            <h1>Oracle Utility - Data Migration Portal</h1>
            <img src="" th:src="@{images/logo2.png}" alt="">

        </section>
        <section>
            <div class="nav1">
                <h2>Admin</h2>
            </div>
        </section>
        <section class="form1 for-group">
            <div>

                <h3>Global Lookup</h3>

                <form id="form" method="post" th:action=@{/api} th:object="${data}" class="form-control">
                    <table>
                        <div class="form-group" th:each=" map : ${data}">
                            <tr>
                                <td><label id="key" th:name="${map.key}" th:text="${map.key}"></label></td>
                                <td><input id="value" th:name="${map.key}" type="text" th:value="${map.value}"
                                        class="form-control"></td>
                            </tr>
                        </div>

                    </table>
                    <div class="form-group">
                        <input type="submit" value="CLICK TO SET GLOBAL VALUES IN LOOKUP FILE"
                            class="btn btn-success" />
                    </div>
                </form>
        </section>
        <section class="form2">
            <div>
                <h3>Fill Entity Lookup Field Values</h3>
                <table>
                    <tr>
                        <td><label for="Entity Name">Entity Name</label></td>
                        <td>
                            <select class="form-control" id="entitylist">
                                <option th:each="option : ${entities}" th:text="${option.Name}">
                                </option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
        <section class="form3">
            <div>
                <h3>Primary Lookup File</h3>

                <form method="post">
                   <div id="csv_data_onselect"></div>
                </form>
        </section>

        <section class="form4">

            <h3>Secondary Lookup File (Optional)</h3>

            <form method="post">
                <div id="list_all_data"></div>
                <button type="button">CLICK TO SUBMIT</button>
            </form>
            <table class="message">
                <tr>
                    <td>Lookup values updated successfully</td>
                </tr>
    </div>

    </table>
    </section>
    <section class="form5">
        <div>
            <h3>Download Entity Lookup Sample File</h3>

            <div th:if="${ not#lists.isEmpty(entities)}">
                <table>
                    <tr>
                        <td>Entities</td>
                        <td>&nbsp;</td>
                        <td>
                            <select id="entity">
                                <option selected>Select Entity</option>
                                <option th:each=" data: ${entities}" th:value="${data.Name}" th:text="${data.Name}">
                                </option>
                            </select>
                        </td>
                    </tr>
                    <table>
            </div>
            <!-- <td> -->
            <!-- <a th:href="@{http://localhost:9083/api/download/Global_Lookup"> -->
            <!-- <a href="http://localhost:9083/api/download/Global_Lookup"> -->
            <a id="download">
                <button type="button" class="btn btn-success btn-sm"> Download file</button>
            </a>
            <!-- <button type="button">CLICK TO DOWNLOAD FILE</button> -->
        </div>
    </section>
    </div>
</body>

</html>