<link rel="stylesheet" href="" th:href="@{/css/validate.css}">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::main   })}">


<main id="main">
<section class="primary">
    <div>
        <div>
            <h3 class="upload">Upload Primary file </h3>
            <form th:action="@{/api/validate}"  th:object="${entities}" th:method="post">   
            <table>
                <tr>
                    <td>Entity Name</td>
                    <td>
                        <select id="entityValidate">
                            <option selected>Select Entity</option>
                            <option th:each=" data: ${entities}" th:name="${data.key}" th:value="${data.key}" th:text="${data.key}">
                            </option>
                        </select>
                    </td>
                </tr>
            </table>
            </form>
                <table> 
                   
                   
                        <div class="mybtn">
                        
                            <p id="mybtn-para" th:text="${messageP}" th:if="${messageP ne null}" class=""></p>
                            <form th:action="@{/api/validate/upload}"  method="post">
                                <button type="submit" name="action" value="Upload" class="btn btn-primary" id="btn">UPLOAD</button>
                                <button type="submit"  name="action" value="Validate" class="btn btn-primary" id="btn2">VALIDATE</button>
                            </form>
                        </div>
                </table>
               
            </table>
          
    
        </div>
       

    </div>
</section>
<section class="secondary">
    <div>
        <h3 class="upload">Upload Secondary file </h3>
        <form th:action="@{/api/validate}"  th:object="${Secondaryentities}" th:method="post">   
        <table>
            <tr>
                <td>Entity Name</td>
                <td>
                    <select id="entityValidateS">
                        <option selected>Select Entity</option>
                        <option th:each=" data: ${Secondaryentities}" th:name="${data.key}" th:value="${data.key}" th:text="${data.key}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>
        </form>
            <table> 
               
               
                    <div class="mybtn">
                    
                        <p id="mybtn-para" th:text="${messageS}" th:if="${messageS ne null}" class=""></p>
                        <form th:action="@{/api/validate/uploadSec}"  method="post">
                            <button type="submit" class="btn btn-primary" id="btn">UPLOAD</button>
                            <button type="submit" class="btn btn-primary" id="btn2">VALIDATE</button>
                        </form>
                    </div>
            </table>
           
        </table>
      

    </div>
</section>
</main>
