<link rel="stylesheet" href="" th:href="@{/css/validate.css}">
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::main   })">


<main id="main">
<section class="primary">
    <div>
       
        <h3 class="upload">Upload Primary file </h3>
    
        <table>
            <tr>
                <td>Entity Name</td>
                <td>
                    <select id="entity">
                        <option selected>Select Entity</option>
                        <option th:each=" data: ${entities}" th:value="${data.Name}" th:text="${data.Name}">
                        </option>
                    </select>
                </td>
            </tr>
            <table >
             
                <div class="mybtn"> 
                                   
                        <p id="mybtn-para" th:text="${message}" th:if="${message ne null}" class=""></p>
                        <form method="post" th:action="@{/api/upload}" enctype="multipart/form-data">
                            <div class="form-group" id="group">
                                <input type="file" name="file" class="form-control-file">
                            </div>
                            <button type="submit" class="btn btn-primary" id="btn">UPLOAD</button>
                            <button type="submit" class="btn btn-primary" id="btn2">VALIDATE</button>
                        </form>
                
                 </div>
                
            </table>
           
        </table>
      

    </div>
</section>
<section class="secondary">
    <div>
        <h3 class="upload">Upload Secondary file </h3>
    
        <table>
            <tr>
                <td>Entity Name</td>
                <td>
                    <select id="entity">
                        <option selected>Select Entity</option>
                        <option th:each=" data: ${entities}" th:value="${data.Name}" th:text="${data.Name}">
                        </option>
                    </select>
                </td>
            </tr>
            <table> 
               
               
                    <div class="mybtn">
                    
                        <p id="mybtn-para" th:text="${messageS}" th:if="${messageS ne null}" class=""></p>
                        <form method="post" th:action="@{/api/upload/s}" enctype="multipart/form-data">
                            <div class="form-group" id="group">
                                <input type="file" name="file" class="form-control-file">
                            </div>
                            <button type="submit" class="btn btn-primary" id="btn">UPLOAD</button>
                            <button type="submit" class="btn btn-primary" id="btn2">VALIDATE</button>
                        </form>
                    </div>
            </table>
           
        </table>
      

    </div>
</section>
</main>
